.basket-icon-container {
  display: flex;
  align-items: center;
}

.basket-button {
  color: white;
}

.basket-icon {
  font-size: 1.9rem;
}

.MuiBadge-badge {
  background-color: #ff5722;
  color: #fff;
  font-weight: 600;
}
